<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.AlarmMapper">

    <insert id="saveAlarm" parameterType="bucheon.leafy.domain.alarm.request.AlarmRequest">
        insert into alarm(user_id, type, table_id, msg)
        values (#{userId}, #{type}, #{tableId}, #{msg})
    </insert>

    <update id="updateCheckAlarm" parameterType="bucheon.leafy.domain.alarm.request.AlarmCheckRequest">
        update alarm
        set checked = true
        where checked = false
          and user_id = #{userId}
          and type = #{type}
          and table_id = #{tableId}
    </update>

    <delete id="deleteAlarm">
        delete
        from alarm
        where checked = true
          and date(DATE_SUB(NOW(), INTERVAL 7 DAY)) > date(created_at)
    </delete>

    <select id="findByUserId" resultType="bucheon.leafy.domain.alarm.response.AlarmResponse">
        select id, user_id, type, checked, table_id, msg, created_at
        from alarm
        where user_id = #{userId}
        order by created_at desc
    </select>

</mapper>