<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.FeedTagMapper">

    <select id="findFeedTagList" resultType="FeedTagResponse" parameterType="java.lang.Long">
        select feed_tag_id, tag from feed_tag where feed_id = #{feedId}
    </select>

    <insert id="saveFeedTag" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="feed_tag_id" keyProperty="request.feedTagId">
        INSERT INTO feed_tag (feed_id, tag)
        VALUES
        <foreach collection="request" item="request" separator=",">
            (#{feedId}, #{request.tag})
        </foreach>
    </insert>

    <delete id="deleteFeedTag" parameterType="java.lang.Long">
        delete from feed_tag where feed_id = #{feedId}
    </delete>
</mapper>