<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.FeedCommentMapper">
    <select id="findCommentList" resultType="FeedCommentResponse">
        select fc.* from feed f, feed_comment fc where f.feed_id = fc.feed_id and fc.feed_id = #{feedId} and fc.is_delete = false
    </select>

    <insert id="saveComment" parameterType="FeedCommentRequest" useGeneratedKeys="true" keyProperty="comment_id">
        insert into feed_comment(user_id,feed_id,comment,is_delete,created_at,modified_at) values (#{user_id}, #{feed_id}, #{comment}, false, now(), now())
    </insert>

    <update id="editComment" parameterType="FeedCommentRequest">
        update feed_comment set comment = #{comment}, modified_at = now() where feed_id = #{feed_id} and comment_id = #{comment_id}
    </update>

    <delete id="hardDeleteComment"  parameterType="java.lang.Long">
        delete from feed_comment where feed_id = #{feed_id} and comment_id = #{comment_id}
    </delete>

    <update id="softDeleteComment" parameterType="java.lang.Long">
        update feed_comment set is_delete = true where feed_id = #{feed_id} and comment_id = #{comment_id}
    </update>
</mapper>