<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.FeedImageMapper">

    <select id="findImageList" resultType="java.lang.String">
        select image_name from feed_image where feed_id = #{feedId}
    </select>

    <insert id="saveImage" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="image_id">
        INSERT INTO feed_image (feed_id, image_name)
        VALUES
        <foreach collection="list" item="request" separator=",">
            (#{request.feedId}, #{request.imageName})
        </foreach>
    </insert>

    <delete id="deleteAllImages">
        delete from feed_image
    </delete>

    <delete id="deleteImage">
        delete from feed_image where feed_id = #{feedId} and image_name = #{imageName}
    </delete>

</mapper>