<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.FeedMapper">

    <select id="findFeedListFirst" resultType="bucheon.leafy.domain.feed.dto.response.FeedResponse">
        select * from feed where is_hide = false and is_delete = false ORDER BY feed_id DESC LIMIT 10;
    </select>

    <select id="findFeedListScroll" resultType="bucheon.leafy.domain.feed.dto.response.FeedResponse" parameterType="java.lang.Long">
        select * from feed where is_hide = false and is_delete = false and feed_id &lt;= #{id} ORDER BY feed_id DESC LIMIT 10;
    </select>

    <select id="findFeedById" resultType="bucheon.leafy.domain.feed.dto.response.FeedResponse" parameterType="java.lang.Long">
        select * from feed where feed_id = #{id} and is_hide = false and is_delete = false;
    </select>

    <insert id="saveFeed" parameterType="bucheon.leafy.domain.feed.dto.request.FeedRequest" useGeneratedKeys="true" keyProperty="feed_id">
        insert into feed (user_id,title,content,is_hide,is_delete,created_at,modified_at) values (#{user_id}, #{title}, #{content}, #{is_hide}, false, now(), now())
    </insert>

    <update id="editFeed"  parameterType="bucheon.leafy.domain.feed.dto.request.FeedRequest">
        update feed set title = #{title}, content = #{content}, modified_at = now() where feed_id = #{feed_id}
    </update>

    <delete id="hardDeleteFeed"  parameterType="java.lang.Long">
        delete from feed where feed_id = #{id}
    </delete>

    <update id="softDeleteFeed" parameterType="java.lang.Long">
        update feed set is_delete = true where feed_id = #{id}
    </update>
</mapper>