<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.FeedImageMapper">

    <insert id="saveImage" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="image_id">
        INSERT INTO feed_image (image, feed_id)
        VALUES
        <foreach collection="list" item="request" separator=",">
            (#{request.image}, #{request.feed_id})
        </foreach>
    </insert>

    <delete id="deleteAllImages">
        delete from feed_image
    </delete>

</mapper>