<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.FeedMapper">

    <select id="findFeedListFirst" resultType="FeedResponse">
        select * from feed where is_hide = false and isDelete = false ORDER BY feed_id DESC LIMIT 10;
    </select>

    <select id="findFeedListScroll" resultType="FeedResponse" parameterType="java.lang.Long">
        select * from feed where is_hide = false and isDelete = false and feed_id &lt;= #{id} ORDER BY feed_id DESC LIMIT 10;
    </select>

    <select id="findFeedById" resultType="FeedResponse" parameterType="java.lang.Long">
        select * from feed where feed_id = #{id} and is_hide = false and isDelete = false;
    </select>

    <insert id="saveFeed" parameterType="FeedRequest" useGeneratedKeys="true" keyProperty="feed_id">
        insert into feed (userId,title,content,is_hide,isDelete,created_at,modified_at) values (#{userId}, #{title}, #{content}, #{is_hide}, false, now(), now())
    </insert>

    <update id="editFeed"  parameterType="FeedRequest">
        update feed set title = #{title}, content = #{content}, modified_at = now() where feed_id = #{feed_id}
    </update>

    <delete id="deleteAllFeeds">
        delete from feed
    </delete>

    <delete id="hardDeleteFeed"  parameterType="java.lang.Long">
        delete from feed where feed_id = #{id}
    </delete>

    <update id="softDeleteFeed" parameterType="java.lang.Long">
        update feed set isDelete = true where feed_id = #{id}
    </update>
</mapper>