<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.FeedImageMapper">

    <select id="findImageList" resultType="FeedImageResponse" parameterType="java.lang.Long">
        select image_id, image_name from feed_image where feed_id = #{feedId}
    </select>

    <select id="findImage" resultType="java.lang.String" parameterType="java.lang.Long">
        select image_name from feed_image where image_id = #{imageId}
    </select>

    <insert id="saveImage" parameterType="java.util.List" useGeneratedKeys="true" keyColumn="image_id" keyProperty="request.imageId">
        INSERT INTO feed_image (feed_id, image_name)
        VALUES
        <foreach collection="request" item="request" separator=",">
            (#{feedId}, #{request.imageName})
        </foreach>
    </insert>

    <delete id="deleteAllImages">
        delete from feed_image
    </delete>

    <delete id="deleteImage">
        delete from feed_image where feed_id = #{feedId} and image_id = #{imageId}
    </delete>

</mapper>