<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.FeedCommentMapper">
    <select id="findCommentListFirst" resultType="FeedCommentResponse" parameterType="ScrollRequest">
        select * from feed_comment where is_delete = false and feed_id = #{feedId} ORDER BY feed_comment_id DESC LIMIT #{scrollRequest.size}
    </select>

    <select id="findCommentList" resultType="FeedCommentResponse" parameterType="ScrollRequest">
        select * from feed_comment where is_delete = false and feed_id = #{feedId} and feed_comment_id &lt; #{scrollRequest.key} ORDER BY feed_comment_id DESC LIMIT #{scrollRequest.size}
    </select>

    <select id="findCommentById" resultType="FeedCommentResponse" parameterType="java.lang.Long">
        select * from feed_comment where feed_comment_id = #{feedCommentId} and is_delete = false
    </select>

    <insert id="saveComment" parameterType="FeedCommentRequest" useGeneratedKeys="true" keyColumn="feed_comment_id" keyProperty="request.feedCommentId">
        insert into feed_comment (user_id,feed_id,comment,is_delete,created_at,modified_at) values (#{userId}, #{feedId}, #{request.comment}, false, now(), now())
    </insert>

    <update id="editComment" parameterType="FeedCommentRequest">
        update feed_comment set comment = #{request.comment}, modified_at = now() where feed_comment_id = #{feedCommentId} and user_id = #{userId} and feed_id = #{feedId}
    </update>

    <delete id="deleteAllComments">
        delete from feed_comment
    </delete>

    <delete id="deleteComment"  parameterType="java.lang.Long">
        update feed_comment set is_delete = true where feed_comment_id = #{feedCommentId} and user_id = #{userId} and feed_id = #{feedId}
    </delete>
</mapper>