<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.NoticeMapper">

    <select id="count" parameterType="int" resultType="int">
        SELECT count(*)
        FROM notice
    </select>

    <update id="deleteById" parameterType="long">
        UPDATE notice
        SET is_delete = 1
        WHERE notice_id = #{noticeId}
    </update>

    <insert id="save" parameterType="NoticeSaveRequest" >
        INSERT INTO notice (created_at, modified_at, is_delete ,contents,  is_hide, title, view_count, user_id)
        VALUES (now(),now(), 0,  #{contents}, 0, #{title}, 0, #{userId})
    </insert>

    <update id="viewCnt" parameterType="long">
        UPDATE notice
        SET   view_count = view_count + 1
        WHERE notice_id = #{noticeId}
    </update>

    <select id="findById" parameterType="long" resultType="NoticeResponse">
        SELECT *
        FROM notice
        WHERE notice_id = #{noticeId}
    </select>

    <select id="saveResponse" parameterType="NoticeSaveRequest" resultType="NoticeResponse">
        SELECT notice_id, created_at
        FROM notice
        WHERE contnets = #{contnets}
          AND title = #{title}
          AND user_id = #{userId}
    </select>

    <select id="modifiedAt" parameterType="long" resultType="NoticeEditResponse">
        SELECT modified_at
        FROM notice
        WHERE notice_id = #{noticeId}
    </select>

    <update id="editById" parameterType="NoticeEditRequest" >
        UPDATE notice
           SET modified_at = now()
             , contents = #{contents}
             , title = #{title}
        WHERE notice_id = #{noticeId}
    </update>

    <update id="hideByNoticeId" parameterType="NoticeRequest">
        UPDATE notice
        SET   is_hide = 1
        WHERE notice_id = #{noticeId}
    </update>

    <select id="findAllUserIds" resultType="long">
        SELECT user_id
          FROM user
    </select>

    <select id="pageFindById" parameterType="PageRequest" resultType="PageResponse">
        SELECT *
        FROM notice
        <if test="pageRequest.sortColumn != null and pageRequest.sortStatus != null">
        ORDER BY ${pageRequest.sortColumn} ${pageRequest.sortStatus}
        </if>
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>


</mapper>
