<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.NoticeMapper">

    <delete id="deleteById" parameterType="map">
        UPDATE notice
        SET is_delete = 1
    </delete>

    <insert id="save" parameterType="NoticeDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notice (created_at, is_delete, contents, is_hide, title, user_id)
        VALUES (now(), 0, #{contents}, #{isHide}, #{title}, #{userId})
    </insert>

    <update id="viewCnt" parameterType="long">
        UPDATE notice
        SET   view_cnt = view_cnt + 1
        WHERE noitce_id = #{noitceId}
    </update>

    <select id="pageFindById" resultType="NoticeDto">
        SELECT *
        FROM notice
        ORDER BY created_at DESC, notice_id DESC
    </select>

    <select id="findById" parameterType="long" resultType="NoticeDto">
        SELECT *
        FROM notice
        WHERE notice_id = #{noitceId}
    </select>

    <update id="editById" parameterType="NoticeDto">
        UPDATE notice
           SET modified_at = now()
             , contents = #{contents}
             , is_hide = #{isHide}
             , title = #{title}
        WHERE notice_id = #{noitceId}
    </update>

    <sql id="NoticeSearchRequest">
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="U"'>
                AND userId LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title   LIKE concat('%', #{keyword}, '%')
                OR   contents LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="PageRequest" resultType="PageResponse">
        SELECT *
        FROM notice
        WHERE true
        <include refid="NoticeSearchRequest"/>
        ORDER BY created_at DESC, notice_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="findTableIdByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT table_id
        FROM alarm
        WHERE user_id = #{userId}
        LIMIT #{offset}, #{pageSize}
    </select>

</mapper>
