<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bucheon.leafy.application.mapper.NoticeMapper">

    <select id="count" parameterType="int" resultType="int">
        SELECT count(*)
        FROM notice
        WHERE is_delete = false and is_hide = false
    </select>

    <select id="adminNoticeCount" parameterType="int" resultType="int">
        SELECT count(*)
        FROM notice
        WHERE is_delete = false
    </select>

    <update id="deleteById" parameterType="long">
        UPDATE notice
        SET is_delete = true,
            modified_at = now(),
            user_id = #{userId}
        WHERE notice_id = #{noticeId}
    </update>

    <insert id="save" parameterType="NoticeSaveRequest" useGeneratedKeys="true" keyColumn="notice_id" keyProperty="noticeSaveRequest.noticeId">
        INSERT INTO notice (created_at, modified_at, is_delete, contents, is_hide, title, view_count, user_id)
        VALUES (now(), now(), false,  #{noticeSaveRequest.contents}, false, #{noticeSaveRequest.title}, 0, #{userId})
    </insert>

    <update id="viewCnt" parameterType="long">
        UPDATE notice
        SET   view_count = view_count + 1
        WHERE notice_id = #{noticeId}
    </update>

    <select id="findById" parameterType="long" resultType="NoticeResponse">
        SELECT *
        FROM notice
        WHERE notice_id = #{noticeId}
    </select>

    <select id="findByIdAndIsDeleteFalse" parameterType="long" resultType="NoticeResponse">
        SELECT *
        FROM notice
        WHERE notice_id = #{noticeId} and is_delete = false
    </select>

    <select id="findByIdAndIsDeleteFalseAndIsHideFalse" parameterType="long" resultType="NoticeResponse">
        SELECT *
        FROM notice
        WHERE notice_id = #{noticeId} and is_delete = false and is_hide = false
    </select>

    <update id="editById" parameterType="NoticeEditRequest">
        UPDATE notice
           SET modified_at = now(),
               contents = #{noticeEditRequest.contents},
               title = #{noticeEditRequest.title},
               is_hide = #{noticeEditRequest.isHide},
               user_id = #{userId}
        WHERE notice_id = #{noticeId}
    </update>

    <select id="findAllUserIds" resultType="long">
        SELECT user_id
          FROM user
        WHERE is_delete = false and is_all_notifications = true
    </select>

    <select id="pageFindById" resultType="bucheon.leafy.domain.notice.response.NoticeResponse">
        SELECT *
        FROM notice
        WHERE is_delete = false and is_hide = false
        <if test="pageRequest.sortColumn != null">
        ORDER BY ${pageRequest.sortColumn} ${pageRequest.sortStatus}
        </if>
        <if test="pageRequest.sortColumn == null">
        ORDER BY modified_at desc, created_at desc
        </if>
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>

    <select id="adminPageFindById" resultType="bucheon.leafy.domain.notice.response.NoticeResponse">
        SELECT *
        FROM notice
        WHERE is_delete = false
        <if test="pageRequest.sortColumn != null">
            ORDER BY ${pageRequest.sortColumn} ${pageRequest.sortStatus}
        </if>
        <if test="pageRequest.sortColumn == null">
            ORDER BY modified_at desc, created_at desc
        </if>
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>


</mapper>
