<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.QnaCommentMapper">

    <update id="deleteByQnaCommentId" parameterType="long" >
        UPDATE  qna_comment
           SET is_delete = true
         WHERE qna_comment_id = #{qnaCommentId}
    </update>

    <insert id="save" parameterType="QnaCommentSaveRequest" useGeneratedKeys="true" keyColumn="qna_comment_id" keyProperty="qnaCommentSaveRequest.qnaCommentId">
        INSERT INTO qna_comment
            (created_at, modified_at, is_delete, comment, user_id, qna_id)
        VALUES
            (now(), now(), 0, #{qnaCommentSaveRequest.comment}, #{userId}, #{qnaCommentSaveRequest.qnaId})
    </insert>


    <select id="qnaSaveFind" resultType="QnaCommentSaveRequest">
        SELECT qna_comment_id, created_at, qna_id
        FROM qna_comment
        WHERE comment = #{qnaCommentSaveRequest.comment}
          AND user_id = #{userId}
    </select>

    <update id="editByQnaCommentId" >
        UPDATE qna_comment
        SET comment = #{comment}
          , modified_at = now()
        WHERE qna_comment_id = #{qnaCommentId}
    </update>

    <select id="qnaCommentEditFind" resultType="QnaCommentEditResponse">
        SELECT  modified_at
        FROM qna_comment
        WHERE comment = #{qnaCommentSaveRequest.comment}
    </select>

</mapper>
