<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="bucheon.leafy.application.mapper.QnaCommentMapper">

        <delete id="deleteAll">
            DELETE FROM qna
        </delete>

        <delete id="delete" parameterType="map">
            DELETE FROM qna WHERE id = #{id} and user_id = #{userId}
        </delete>

        <insert id="insert" parameterType="QnaCommentDto">
            INSERT INTO qna
                (title, comment, id, qan_status)
            VALUES
                (#{title}, #{comment}, #{id}, #{qanStatus})
        </insert>

        <select id="selectAll" resultType="QnaCommentDto">
            SELECT id, created_at, modified_at, is_delete , comment, user_id, qna_id
            FROM qna
            ORDER BY created_at DESC, id DESC
        </select>

        <sql id="selectFrom">
            SELECT id, created_at, modified_at, is_delete , comment, user_id, qna_id
            FROM qna
        </sql>

        <select id="select" parameterType="int" resultType="QnaCommentDto">
            <include refid="selectFrom"/>
            WHERE id = #{id}
        </select>

        <select id="selectPage" parameterType="map" resultType="QnaCommentDto">
            <include refid="selectFrom"/>
            ORDER BY created_at DESC, id DESC
            LIMIT #{offset}, #{pageSize}
        </select>

        <update id="update" parameterType="QnaCommentDto">
            UPDATE qna
            SET   title = #{title}
              , comment = #{comment}
              , modified_at = now()
            WHERE user_id = #{userId}
        </update>


        <sql id="searchHandler">
            <choose>
                <when test='option=="T"'>
                    AND title LIKE concat('%', #{keyword}, '%')
                </when>
                <when test='option=="U"'>
                    AND userId LIKE concat('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (title   LIKE concat('%', #{keyword}, '%')
                    OR   contents LIKE concat('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </sql>

        <select id="searchSelectPage" parameterType="SearchHandler" resultType="QnaCommentDto">
            SELECT id, created_at, modified_at, is_delete , comment, user_id, qna_id
            FROM qna
            WHERE true
            <include refid="searchHandler"/>
            ORDER BY created_at DESC, id DESC
            LIMIT #{offset}, #{pateSize}
        </select>

    </mapper>
