<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.QnaMapper">

    <delete id="deleteById" parameterType="map" >
        UPDATE qna
        SET is_delete = 1
        WHERE qna_id = #{qnaId}
    </delete>

    <insert id="save" parameterType="QnaDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qna (created_at ,is_delete , contents, qna_status, title, user_id)
        VALUES (now(), 0, #{contents}, 0,  #{title}, #{userId})
    </insert>

    <select id="findById" parameterType="long" resultType="QnaDto">
        SELECT q.*, qc.qna_comment_id, qc.qna_comment,
        qr.qna_reply_id, qr.qna_reply_comment
        FROM qna q
        LEFT JOIN qna_comment qc ON q.qna_id = qc.qna_id
        LEFT JOIN qna_reply qr ON qc.qna_comment_id = qr.qna_comment_id
        WHERE q.qna_id = #{qnaId} AND q.user_id = #{userId}
    </select>

    <select id="findQnaById" parameterType="Long" resultType="QnaDto" >
        select * from qna where qna_id = #{qndId} and is_delete = false
    </select>

    <update id="viewCnt" parameterType="long">
        UPDATE qna
        SET   view_cnt = view_cnt + 1
        WHERE qna_id = #{qnaId}
    </update>

    <update id="editById">
        UPDATE qna
        SET   title = #{title}
          , contents = #{contents}
          , modified_at = now()
          , user_id = #{userId}
        WHERE qna_id = #{qnaId}
    </update>

    <update id="editByIdQnaStatus" parameterType="QnaDto">
        UPDATE qna
        SET   qna_status = 1
        WHERE  qna_id = #{qnaId}
    </update>

    <select id="pageFindById" resultType="QnaDto">
        SELECT *
        FROM qna
        WHERE qna_id = #{qnaId}
        ORDER BY ${pageRequest.sortColumn} ${pageRequest.sortStatus}
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>

    <select id="adminSelectAll" resultType="QnaDto">
        SELECT *
        FROM qna
        ORDER BY created_at DESC, qna_id DESC
    </select>

</mapper>
