<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.QnaMapper">

    <select id="count" parameterType="int" resultType="int">
        SELECT count(*)
          FROM qna
    </select>

    <update id="deleteById" parameterType="long" >
        UPDATE qna
        SET is_delete = 1
        WHERE qna_id = #{qnaId}
    </update>

    <insert id="save" parameterType="QnaSaveRequest">
        INSERT INTO qna (created_at ,modified_at,is_delete , contents, qna_status, title, view_count, user_id)
        VALUES (now(), now(), 0, #{contents}, 0,  #{title}, 0, #{userId})
    </insert>

    <select id="saveResponse" parameterType="QnaSaveRequest" resultType="QnaResponse">
        SELECT qna_id, created_at
        FROM qna
        WHERE contnets = #{contnets}
          AND title = #{title}
          AND user_id = #{userId}
    </select>

    <select id="findById" parameterType="long" resultType="QnaResponse">
        SELECT
        q.*,
        qc.qna_comment_id AS qnaCommentId,
        qc.comment AS comment,
        (SELECT COUNT(qr.qna_comment_id) FROM qna_reply qr WHERE qr.qna_comment_id = qc.qna_comment_id) AS qnaReplyCount
        FROM qna q
        LEFT JOIN qna_comment qc ON q.qna_id = qc.qna_id
        WHERE q.qna_id = #{qnaId}
        LIMIT 1
    </select>

    <select id="findQnaById" parameterType="Long" resultType="Long" >
        select user_id
          from qna
         where qna_id = #{qndId}
           and is_delete = false
    </select>

    <update id="viewCnt" parameterType="long">
        UPDATE qna
        SET   view_count = view_count + 1
        WHERE qna_id = #{qnaId}
    </update>

    <update id="editById" parameterType="QnaEditRequest">
        UPDATE qna
        SET contents    = #{contents}
          , title       = #{title}
          , modified_at = now()
          , user_id     = #{userId}
        WHERE qna_id      = #{qnaId}
    </update>

    <update id="editByIdQnaStatus" parameterType="QnaStatusResponse">
        UPDATE qna
        SET   qna_status = "답변 완료"
        WHERE  qna_id = #{qnaId}
    </update>

    <select id="pageFindById" parameterType="PageRequest" resultType="PageResponse">
        SELECT *
        FROM qna
        WHERE qna_id = #{qnaId}
          AND user_id #{userId}
        <if test="pageRequest.sortColumn != null and pageRequest.sortStatus != null">
            ORDER BY #{pageRequest.sortColumn} #{pageRequest.sortStatus}
        </if>
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>

    <select id="adminSelectAll" parameterType="PageRequest" resultType="PageResponse">
        SELECT *
        FROM qna
        <if test="pageRequest.sortColumn != null and pageRequest.sortStatus != null">
            ORDER BY #{pageRequest.sortColumn} #{pageRequest.sortStatus}
        </if>
        LIMIT #{pageRequest.limit}
        OFFSET #{pageRequest.offset}
    </select>

</mapper>
