<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.QnaReplyMapper">

    <select id="getCount" parameterType="long" resultType="int">
        SELECT count(*)
          FROM qna_reply
         WHERE qna_reply_id = #{qnaReplyId}
    </select>


    <update id="deleteByQnaReplyId" parameterType="Long">
        UPDATE qna_reply
           SET is_delete = 1
         WHERE qna_reply_id = #{qnaReplyId}
           AND user_id = #{userId}
    </update>

    <insert id="save" parameterType="QnaReplyDto">
        INSERT INTO qna_reply
            ( created_at, is_delete, comment, user_id, qna_comment_id)
             VALUES
            ( now(),  false, #{comment}, #{userId}, #{qnaCommentId})
    </insert>

    <update id="edit" parameterType="QnaReplyDto">
        UPDATE qna_reply
           SET user_id = #{userId}
             , modified_at = now()
         WHERE qna_reply_id = #{qnaReplyId}
           AND user_id = #{userId}
    </update>
</mapper>
