<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.SearchMapper">

    <select id="findSearchByPumName" resultType="bucheon.leafy.domain.search.response.SearchResponse">
        select *
        from search
        where (pum_name = #{searchName} or good_name =#{searchName})
          and sale_date = (select max(sale_date) from search)
        order by good_name
        limit #{pageRequest.limit}
        offset #{pageRequest.offset}
    </select>

    <insert id="SaveSearch" parameterType="bucheon.leafy.domain.leafyapi.LeafyApiDto">
        insert into search(avg_amt, flower_gubn, good_name, lv, max_amt, min_amt, pum_name, sale_date, created_at, modified_at)
        values (#{avgAmt}, #{flowerGubn}, #{goodName}, #{lv}, #{maxAmt}, #{minAmt}, #{pumName}, #{saleDate}, sysdate(), sysdate())
    </insert>

    <delete id="deleteSearch">
        delete
        from search
        where date(DATE_SUB(NOW(), INTERVAL 7 DAY)) > date(created_at)
    </delete>

    <select id="count" resultType="long">
        select count(1) as total
        from search
        where (pum_name = #{searchName} or good_name =#{searchName})
          and sale_date = (select max(sale_date) from search)
        order by good_name
    </select>

</mapper>