<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.SearchMapper">

    <select id="findSearchByPumName" resultType="bucheon.leafy.domain.search.response.SearchResponse">
        select *
        from search
        where (pum_name = #{keyword} or good_name = #{keyword})
          and sale_date = (select max(sale_date) from search where (pum_name = #{keyword} or good_name = #{keyword}))
        order by good_name
        limit #{pageRequest.limit}
        offset #{pageRequest.offset}
    </select>

    <insert id="saveSearch" parameterType="java.util.List">
        insert into search(avg_amt, flower_gubn, good_name, lv, max_amt, min_amt, pum_name, sale_date, created_at, modified_at)
        values
        <foreach collection="request" item="request" separator=",">
            (#{request.avgAmt}, #{request.flowerGubn}, #{request.goodName}, #{request.lv}, #{request.maxAmt},
             #{request.minAmt}, #{request.pumName}, #{request.saleDate}, sysdate(), sysdate())
        </foreach>
    </insert>

    <delete id="deleteSearch">
        delete
        from search
        where date(DATE_SUB(NOW(), INTERVAL 7 DAY)) > date(created_at)
    </delete>

    <select id="count" resultType="long">
        select count(1) as total
        from search
        where (pum_name = #{keyword} or good_name =#{keyword})
          and sale_date = (select max(sale_date) from search where (pum_name = #{keyword} or good_name = #{keyword}))
    </select>

    <select id="findGoodNameByPumName" resultType="bucheon.leafy.domain.search.response.goodNameResponse">
        select distinct(good_name)
        from search
        where pum_name = #{keyword}
    </select>

</mapper>