<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bucheon.leafy.application.mapper.BoardMapper">

    <select id="findBoardList" resultType="bucheon.leafy.domain.board.Board">
        select * from board;
    </select>

    <select id="findBoardById" resultType="bucheon.leafy.domain.board.Board">
        select * from board where board_id = #{id}
    </select>

    <insert id="saveBoard" parameterType="bucheon.leafy.domain.board.Board">
        insert into board (title,content,isHide,user_id,createdAt)
        values (#{title}, #{content}, #{isHide}, #{user_id}, sysdate)
    </insert>

    <update id="editBoard">
        update board set
        title = #{title}, content = #{content}, isHide = #{isHide}, modifiedAt = sysdate
        where board_id = #{id}
    </update>

    <delete id="deleteBoard">
        delete from board where board_id = #{id}
    </delete>
</mapper>